* {
    margin: 0;
}

.container {
    background-color: rgb(44, 43, 43);
    width: 15rem;
    color: white;
    margin: 2rem;
}

ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

ul li a {
    text-decoration: none;
}

.container ul li ul li {
    display: block;
    padding: 0.1rem;
    font-size: 1rem;
    background-color: #865a5a;
    border-bottom: 1px solid #222;
    transition: all .3s ease-in-out;
    width: 170px;
}

.container ul li ul li:hover {
    transition: all .3s ease-in-out;
    background-color: yellow;
}